@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    max-width: 1440px;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-weight: 700;
    font-size: 22px;
    margin: 12px 0;
}

h2{
    font-weight: 700;
    font-size: 22px;
}

h3{
    font-weight: 700;
    font-size: 16px;
}

li{
    list-style: none;
}

/* ---------- enTete ---------- */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
    padding: 0 50px;
}

#enTete__logo img{
    width: 95px;
    margin-left: 15px;
}

#enTete__menu, #enTete__menu li, #enTete__menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#enTete__menu a{
    padding: 0 35px;
    border-top: 2px solid transparent;
}

#enTete__menu a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* ---------- corps  ---------- */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section{
    padding: 0 50px;

}

/* rechercher un Hébergement*/

#corps__recherche{
    display: flex;
    flex-direction: column;
}

/* formulaire */

/* zone de recherche */

#corps__recherche__formulaire{
    display: flex;
    font-size: 18px;
    width: 422px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    margin: 20px 0px;
}

.fa-map-marker-alt{
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#corps__recherche__formulaire__saisie{
    flex: 1;
    font-weight: 700;
    text-indent: 15px;
    border: none;
}

#corps__recherche__formulaire__bouton{
    width: 135px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: none;
    color: white;
    font-weight: 600;
}

#corps__recherche__formulaire__loupe{
    width: 52px;
    height: 52px;
    background-color: #0065FC;
    border-radius: 15px;
    border: none;
    color: white;
    display: none;
}

/* Filtres */

#corps__recherche__filtres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 72px;
}

#corps__recherche__filtres h2{
    font-weight: 800;
    font-size: 18px;
    margin: 12px;
    margin-right: 33px;
}

#corps__recherche__filtres div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#corps__recherche__filtres button{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 6px 25px 6px 0;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-left: none;
}

#corps__recherche__filtres i{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
}

#corps__recherche__filtres button span{
    margin: 0 20px 0 11px;
}

/* Informations */

#corps__recherche__information{
    display: flex;
    align-items: center;
    margin-top: 11px;
}

#corps__recherche__information i{
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    color: #0065FC;
    border-radius: 15px;
    margin: 12px
}


/* hebergement */

#corps__hebergements{
    display: flex;
    justify-content: space-between;
    margin: 25px 0 12px 0;
}

#corps__hebergements h2{
    margin: 10px;
}

.background__Hebergement{
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 25px;    
    display: flex;
    flex-direction: column;
}


/* annonces */

.annonces{
    display: flex;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    box-shadow: 0px 4px 8px #D9D9D9;
}

.objectFitContain{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p{
    font-weight: 400;
    font-size: 14px;
    flex: 1;
    padding: 3px 0;
}

.description div{
    padding: 5px 0;    
    display: flex;
    color: #0065FC;
    font-size: 12px;
}

/* notation Hébergement */

.quatreEtoiles .fa:nth-child(5){
    color: #D9D9D9;
}

.troisEtoiles .fa:nth-child(4), .troisEtoiles .fa:nth-child(5){
    color: #D9D9D9;
}


/* hebergement dans la ville */

.background__Hebergement:nth-child(1){
    width: 66%;
}

#corps__hebergements__ville__liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#corps__hebergements__ville__liste .annonces{
    flex-direction: column;
    width: 30%;
}

#corps__hebergements__ville__liste .annonces img{
    display: flex;
    max-height: 115px;
    border-radius: 15px 15px 0 0;
}

#corps__hebergements__ville__liste .description{
    height: auto;
    padding: 10px;
}

/* afficher plus */

#corps__hebergements__ville__afficherPlus{
    font-size: 19px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 20px;
    flex: 1;
}

/* hebergement populaire */

.background__Hebergement:nth-child(2){
    align-items: center; 
    width: 31%;
}


/* titre */

#corps__hebergements__populaires__titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#corps__hebergements__populaires__titre i{
    font-size: 22px;
}

/* liste */

#corps__hebergements__populaires__liste{
    display: flex;
    flex-direction: column;
}

#corps__hebergements__populaires__liste .annonces{
    height: 150px;
}

#corps__hebergements__populaires__liste .annonces a{
    display: flex;
}

#corps__hebergements__populaires__liste .annonces img{
    display: flex;
    width: 37%;
    height: auto;
    border-radius: 15px 0 0 15px;
}

#corps__hebergements__populaires__liste .description{
    flex: 1;
    padding: 10px 10px 5px 20px;
}

/* Activités */

#corps__activites{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

#corps__activites__liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

.colonne{
    width: 23%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.activites{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 25px;
    box-shadow: 0px 4px 8px #D9D9D9;
}

.activites figure{
    height: 100%;
}

.activites img{
    border-radius: 25px;
}

.activites figcaption{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 0 0 25px 25px;
}

.colonne:nth-child(1) .activites, .colonne:nth-child(3) .activites{
    height: 100%;  /* fixe la hauteur des grands cartes activités colonne 1 et 3 */
}

.colonne:nth-child(2) .activites:nth-child(1), .colonne:nth-child(2) .activites:nth-child(1) img{
    height: 240px; /* fixe la hauteur de la première cartes activités colonne 2 */
}

.colonne:nth-child(2) .activites:nth-child(2), .colonne:nth-child(2) .activites:nth-child(2) img{
    height: 165px; /* fixe la hauteur de la deuxième cartes activités colonne 2 */
}

.colonne:nth-child(4) .activites:nth-child(1), .colonne:nth-child(4) .activites:nth-child(1) img{
    height: 200px; /* fixe la hauteur de la première cartes activités colonne 4 */
}

.colonne:nth-child(4) .activites:nth-child(2), .colonne:nth-child(4) .activites:nth-child(2) img{
    height: 210px; /* fixe la hauteur de la deuxième cartes activités colonne 4 */
}

/* ---------- piedDePage ---------- */

footer nav{
    display: flex;
    justify-content: space-between;
    background-color:#F2F2F2;
    padding: 50px;
}

.piedDePage__liens{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.piedDePage__liens h3{
    margin: 0 0 15px 0;
    font-size: 18px;
}

.piedDePage__liens li{
    margin: 10px 0;
}

/* ---------- design desktop ---------- */

@media screen and (min-width: 992px){

    /* survol des filtres */

    #corps__recherche__filtres button:hover{
        transition: 0.2s;
        height: 55px;
        font-size: 20px;
        border-radius: 55px;
        box-shadow: -6px 6px 6px #D9D9D9;
    }

    #corps__recherche__filtres button:hover i{
        transition: 0.2s;
        width: 55px;
        height: 55px;
        border-radius: 55px;
    }

}

/* ---------- design tablette ---------- */

@media screen and (max-width: 992px) and (min-width: 769px){

    /* Filtre */

    button:hover{
        box-shadow: -12px 12px 12px #D9D9D9;
    }

    /* hebergement */

    #corps__hebergements{
        flex-direction: column;
    }
    
    #corps__hebergements .background__Hebergement{
        width: 100%;
    }
    
    /* hebergements dans la ville*/

    .background__Hebergement:nth-child(1){
        order: 2;
    }

    /* hebergements les plus populaires */

    .background__Hebergement:nth-child(2){
        order: 1;
        margin-bottom: 25px;
    }

    #corps__hebergements__populaires__liste{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    #corps__hebergements__populaires__liste .annonces{
        width: 30%;
        height: 210px;
        margin: 0;
    }
    
    #corps__hebergements__populaires__liste .annonces a{
        flex-direction: column;
        width: 100%;
    }

    #corps__hebergements__populaires__liste .annonces img{
        display: flex;
        max-height: 115px;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    
    #corps__hebergements__populaires__liste .description{
        height: auto;
        padding: 10px;
    }
    
    /* activités */

    #corps__activites__liste{
        flex-direction: column;
    }

    .colonne{
        width: 100%;
        height: 300px;
        margin: 10px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    
    #corps__activites__liste .activites{
        height: 100%;
    }

    #corps__activites__liste .activites img{
        height: 100%;
    }

    .colonne:nth-child(2) .activites, .colonne:nth-child(4) .activites{
        width: 49%;
    }
    
}

/* ---------- design portable ---------- */

@media screen and (max-width: 768px){

    /* ---------- page ---------- */

    main section{
        padding: 0;
    }

    /* enTete */

    header nav{
        flex-direction: column;
        padding: 0;
    }

    #enTete__logo img{
        margin: 20px 0 0 35px;
    }

    #enTete__menu{
        width: 100%;
    }

    #enTete__menu li {
        width: 50%;
        display: flex;
    }
    #enTete__menu a{
        padding: 15px;
        width: 100%;
        border-bottom: 3px solid #F2F2F2;
    }

    #enTete__menu a:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    
/* ---------- corps  ---------- */

    #corps__recherche{
        margin: 20px;
    }
    
    /* rechercher un Hébergement*/

    #corps__recherche__formulaire{
        max-width: 320px;
        border-radius: 15px;
        border: 1px solid #F2F2F2;
    }

    #corps__recherche__formulaire__saisie{
        border: none;
    }

    #corps__recherche__formulaire__bouton{
        display: none;
    }

    #corps__recherche__formulaire__loupe{
        display: inline;
    }
        
    /* Filtres */

    #corps__recherche__filtres button{
        font-size: 15px;
        margin-right: 10px;
    }

    button:hover{
        box-shadow: -12px 12px 12px #D9D9D9;
    }


    /* hebergement */

    #corps__hebergements{
        flex-direction: column;
    }

    #corps__hebergements .background__Hebergement{
        padding: 30px 0;
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
    
    #corps__hebergements h2{
        width: 90%;
    }

    #corps__hebergements .annonces{
        width: 90%;
    }

    #corps__hebergements__ville__afficherPlus{
        width: 90%;
    }

    /* hebergements dans la ville*/

    .background__Hebergement:nth-child(1){
        order: 2;
        background-color: #FFFFFF;
        align-items: center;
    }

    #corps__hebergements__ville__liste{
        justify-content: center;
    }
    /* hebergements les plus populaires */

    .background__Hebergement:nth-child(2){
        order: 1;
    }
    #corps__hebergements__populaires__titre
    {
        width: 90%;
    }

    #corps__hebergements__populaires__liste{
        display: flex;
        align-items: center;
        width: 100%;
    }

    /* activités */

    #corps__activites{
        margin: 0 0 25px 0;
        align-items: center;
    }

    #corps__activites h2{
        width: 90%;
    }

    #corps__activites__liste{
        justify-content: center;
    }

    .colonne{
        flex-wrap: wrap;
        width: 90%;
        height: auto;
    }

    #corps__activites__liste .activites{
        height: auto;
    }

    #corps__activites__liste .activites img{
        height: auto;
        max-height: 192px;
    }

    /* footer */

    footer nav{
        flex-direction: column;
        align-items: center;
        padding: 25px 0 0 0;
    }

    .piedDePage__liens{
        margin: 15px 8px;
        width: 90%;
    }
}